# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Build outputs
.next/
out/
dist/
build/

# Logs
*.log
npm-debug.log*
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Docker volumes (local)
mongo_data/
minio_data/
redis_data/

# Coverage
coverage/
.nyc_output/

# Misc
*.pem
.vercel
